/* home.module.css */
.container {
    display: flex;
    font-family: Arial, sans-serif;
    height: 100vh;
}

.sidebar {
    background-color: #161719;
    padding: 20px;
    width: 200px;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.sidebarButton {
    border-radius: 12px;
    background-color: #4f4f4f;
    color: white;
    border: none;
    padding: 10px;
    margin-bottom: 10px;
    width: 100%;
    text-align: left;
    cursor: pointer;
}

.sidebarButtonMain {
    border-radius: 12px;
    background-color: #857351;
    color: white;
    border: none;
    padding: 10px;
    margin-bottom: 10px;
    width: 100%;
    text-align: left;
    cursor: pointer;
}


.usernameSection {
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 10px;
    background-color: #4f4f4f;
    margin-bottom: 10px;
    text-align: center;
    color: white;
    font-weight: bold;
}

.usernameSection span {
    flex-grow: 1;
    /* This makes the username take up remaining space */
}




.disabledButton:hover {
    background-color: #969595; /* Gray background color for disabled button */ /* Reduce opacity to visually indicate that the button is disabled */
}

.sidebarButton:hover {
    background-color: #B19A6C;
}

.content {
    flex: 1;
    padding: 20px;
    margin-left: 220px;
    /* Ensure content doesn't go under the sidebar */
    background-color: #ffffff;
}

.graphContainer {
    margin-left: 0%;
    background-image: url('/pictures/stars.jpg');
    border: 20px solid #b19a6c;
    border-radius: 12px;
    padding: 20px;
    background-color: #ffffff;
    flex: 1;
    display: flex;
    flex-direction: column;
}

.graphTitle {
    margin-bottom: 20px;
    font-size: 1.5rem;
    color: #b19a6c;
    font-weight: bold;
    text-align: center;
    color: whitesmoke
}

.logoSection {
    border-radius: 12px;
    background-color: #161719;
    /* Fallback color */
    background-image: url('/pictures/logoPic.png');
    /* Path relative to the public folder */
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    flex-direction: column;
    /* Stack items vertically */
    align-items: center;
    /* Center items horizontally */
    justify-content: center;
    /* Center items vertically */
    width: 100%;
    height: 120px;
    padding: 10px;
    margin-bottom: 10px;
    text-align: center;
    color: white;
    font-weight: bold;
    margin-bottom:0; 
    margin-top:43vh;
}


.profilePicture {
    width: 50px;
    /* Adjust as needed */
    height: 50px;
    /* Adjust as needed */
    border-radius: 50%;
    margin-bottom: 10px;
    /* Add some space between the picture and the name */
}

.largeProfilePictureContainer {
    display: flex;
    align-items: center;
    gap: 10px;
    /* Space between image and text */
}

.largeProfilePicture {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.usernameSection {
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    /* Stack items vertically */
    align-items: center;
    /* Center items horizontally */
    justify-content: center;
    /* Center items vertically */
    width: 100%;
    height: 120px;
    padding: 10px;
    background-color: #4f4f4f;
    margin-bottom: 10px;
    text-align: center;
    color: white;
    font-weight: bold;
}

.stopButton {
    border-radius: 12px;
    background-color: #9d0000;
    color: white;
    border: none;
    padding: 10px;
    margin-bottom: 10px;
    width: 100%;
    text-align: center;
    cursor: pointer;
}

.disabledButton {
    background-color: #9d0000; /* Gray background color for disabled button */
    cursor: not-allowed; /* Change cursor to indicate that the button is not clickable */
    opacity: 0.6; /* Reduce opacity to visually indicate that the button is disabled */
}
