.container {
    display: flex;
    font-family: Arial, sans-serif;
    height: 100vh;
}

.usernameSection {
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 10px;
}

.usernameSection span {

    flex-grow: 1;
    /* This makes the username take up remaining space */
}

.profilePicture {

    width: 30px;
    /* Adjust the size as needed */
    height: 30px;
    /* Adjust the size as needed */
    border-radius: 50%;
    /* Make the image circular */
    margin-left: 10px;
    /* Space between the name and the picture */
}

.usernameSection {

    background-color: #c689ff;
    margin-bottom: 10px;
    text-align: center;
    color: white;
    font-weight: bold;
}




.journalEntry {
    margin-bottom: 20px;
    padding: 10px;
    border: 10px solid #857351;
    background-color: #b19a6c;
    border-radius: 10px;
}

.journalEntryDate {
    color: whitesmoke;
    font-size: 1.2rem;
    font-weight: bold;
}

.journalContent {
    color: whitesmoke;
    white-space: pre-wrap;
    word-wrap: break-word;
}

/* Add basic styles for common HTML elements */
.journalContent h1,
.journalContent h2,
.journalContent h3,
.journalContent h4,
.journalContent h5,
.journalContent h6 {
    margin: 0.5em 0;
}

.journalContent p {
    margin: 0.5em 0;
}

.journalContent h1 {
    font-size: 2em;
}

.journalContent h2 {
    font-size: 1.75em;
}

.journalContent h3 {
    font-size: 1.5em;
}

.journalContent h4 {
    font-size: 1.25em;
}

.journalContent h5 {
    font-size: 1em;
}

.journalContent h6 {
    font-size: 0.875em;
}

.newEntryContainer {
    background-color: #b19a6c;
    border-radius: 20px;
    padding: 20px;
    margin-top: auto;

}



.journalEntryTopTitle {
    color: whitesmoke;
    font-size: 30px;
    font-weight: bold;
}

.journalTopParagraph {
    font-size: 20px;
    color: white;
}

.sidebarButtonMain {
    border-radius: 12px;
    background-color: #65387b;
    color: white;
    border: none;
    padding: 10px;
    margin-bottom: 10px;
    width: 100%;
    text-align: left;
    cursor: pointer;
}


.newEntry {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-top: 20px;
    /* Add some padding to top */
    border-top: 1px solid #ccc;
    /* Add border to top */
}

.dateInput {
    color: #161719;
    padding: 10px;
    margin-right: 85%;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.textInput {
    padding: 10px;
    font-size: 1rem;
    color: black;
    height: 100px;
    border: 1px solid #ccc;
    border-radius: 5px;
    resize: none;
}

.createButton {
    padding: 10px;
    font-size: 1.2rem;
    color: white;
    background-color: #0070f3;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    align-self: flex-start;
    /* Ensures button aligns to the start of the flex container */
}

.createButton:hover {
    background-color: #005bb5;
}


.sidebar {
    background-color: #201f1f;
    padding: 20px;
    width: 200px;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.usernameSection {
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 10px;
    background-color: #c689ff;
    margin-bottom: 10px;
    text-align: center;
    color: white;
    font-weight: bold;
}

.profilePicture {
    width: 50px; /* Adjust as needed */
    height: 50px; /* Adjust as needed */
    border-radius: 50%;
    margin-bottom: 10px; /* Add some space between the picture and the name */
}

.largeProfilePictureContainer {
    display: flex;
    align-items: center;
    gap: 10px; /* Space between image and text */
}

.largeProfilePictureContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%; /* Adjust as needed */
}

.sidebarButton {
    border-radius: 12px;
    background-color: #4f4f4f;
    color: white;
    border: none;
    padding: 10px;
    margin-bottom: 10px;
    width: 100%;
    text-align: left;
    cursor: pointer;
}

.content {
    padding: 20px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    gap: 20px; /* Adds space between info sections */
}

.logoSection {
    border-radius: 12px;
    background-color: #161719; /* Fallback color */
    background-image: url('../public/pictures/logoPic.png'); /* Path relative to the public folder */
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    flex-direction: column; /* Stack items vertically */
    align-items: center; /* Center items horizontally */
    justify-content: center; /* Center items vertically */
    width: 100%;
    height: 120px;
    padding: 10px;
    margin-bottom: 10px;
    text-align: center;
    color: white;
    font-weight: bold;
}

.sidebarButton:hover {
    background-color: #b389ff;
}
