.container {
    display: flex;
    font-family: Arial, sans-serif;
    height: 100vh;
}

.sidebar {

    background-color: #f0f0f0;
    padding: 20px;
    width: 200px;
    height: 100%;
}

.usernameSection {
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 10px;
}

.usernameSection span {

    flex-grow: 1;
}

.profilePicture {

    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-left: 10px;
}

.usernameSection {

    background-color: #c689ff;
    padding: 10px;
    margin-bottom: 10px;
    text-align: center;
    color: white;
    font-weight: bold;
}

.sidebarButton {
    border-radius: 12px;
    background-color: #d4a0ff;
    color: white;
    border: none;
    padding: 10px;
    margin-bottom: 10px;
    width: 100%;
    text-align: left;
    cursor: pointer;
}

.content {
    padding: 20px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.journalEntry {
    background-color: #e0b3ff;
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 8px;
}

.newEntry {
    background-color: #e0b3ff;
    padding: 20px;
    border-radius: 8px;
    margin-top: auto;
}

.input,
.textarea {
    display: block;
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #ccc;
}

.button {
    background-color: #8000ff;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
}

.content {
    padding: 20px;
    background-color: #c689ff; 
    width: calc(100% - 240px); 
    height: 200px; 
    margin-left: 20px; 
    margin-right: 20px;
    margin-top: 20px;
    border-radius: 8px; 
}
