.container {
    display: flex;
    font-family: Arial, sans-serif;
    height: 100vh;
}

.sidebar {
    background-color: #201f1f;
    padding: 20px;
    width: 200px;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.usernameSection {
    border-radius: 12px;
    display: flex;
    flex-direction: column; /* Stack items vertically */
    align-items: center; /* Center items horizontally */
    justify-content: center; /* Center items vertically */
    width: 100%;
    height: 120px;
    padding: 10px;
    background-color: #4f4f4f;
    margin-bottom: 10px;
    text-align: center;
    color: white;
    font-weight: bold;  
}

.profilePicture {
    width: 50px; /* Adjust as needed */
    height: 50px; /* Adjust as needed */
    border-radius: 50%;
    margin-bottom: 10px; /* Add some space between the picture and the name */
}

.largeProfilePictureContainer {
    display: flex;
    align-items: center;
    gap: 10px; /* Space between image and text */
}

.largeProfilePicture {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.infoContent {
    display: flex;
    align-items: center;
    width: 100%;
    gap: 10px; /* Space between text and edit button */
}

.infoText {
    color: white;
    display: flex;
    flex-direction: column;
    flex-grow: 1; /* Make it take up the remaining space */
}

.editIcon {
    cursor: pointer;
    color: white;
}

.sidebarButton {
    border-radius: 12px;
    background-color: #4f4f4f;
    color: white;
    border: none;
    padding: 10px;
    margin-bottom: 10px;
    width: 100%;
    text-align: left;
    cursor: pointer;
}

.content {
    padding: 20px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    gap: 20px; /* Adds space between info sections */
}

.infoSection {
    background-color: #8184d5; 
    padding: 20px;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    gap: 10px; /* Space between elements */
}

.editButton {
    background-color: white;
    color: black;
    border: none;
    padding: 5px 10px;
    border-radius: 8px;
    cursor: pointer;
}

.input {
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 5px;
    border-radius: 4px;
    border: 1px solid #ccc;
    color: black; /* Ensures the text is black */
    background-color: white; /* Ensures the background is white */
}

.logoSection {
    border-radius: 12px;
    background-color: #161719; /* Fallback color */
    background-image: url('/pictures/logoPic.png'); /* Path relative to the public folder */
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    flex-direction: column; /* Stack items vertically */
    align-items: center; /* Center items horizontally */
    justify-content: center; /* Center items vertically */
    width: 100%;
    height: 120px;
    padding: 10px;
    margin-bottom: 10px;
    text-align: center;
    color: white;
    font-weight: bold;
}
