.container {
    display: flex;
    font-family: Arial, sans-serif;
    height: 100vh;
}

.sidebar {
    background-color: #f0f0f0;
    padding: 20px;
    width: 200px;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.usernameSection {
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 10px;
    background-color: #c689ff;
    margin-bottom: 10px;
    text-align: center;
    color: white;
    font-weight: bold;
}

.sidebarButton {
    border-radius: 12px;
    background-color: #d4a0ff;
    color: white;
    border: none;
    padding: 10px;
    margin-bottom: 10px;
    width: 100%;
    text-align: left;
    cursor: pointer;
}

.content {
    padding: 20px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    gap: 20px; /* Adds space between info sections */
}

.infoSection {
    background-color: #c689ff; 
    padding: 20px;
    border-radius: 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.infoContent {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.infoText {
    color: white;
}

.editButton {
    background-color: white;
    color: black;
    border: none;
    padding: 5px 10px;
    border-radius: 8px;
    cursor: pointer;
}
